{% extends 'main/base.html' %} 
{% load static %} 
{% block title_block %} 
  About
{% endblock %} 

{% block body_block %}

<div class="container-fluid">
  <div class="row">
    <div
      class="
        offset-xl-0
        col-xl-12
        offset-lg-0
        col-lg-12
        offset-md-0
        col-md-12
        offset-sm-0
        col-sm-12
        offset-xs-0
        col-xs-12
      "
    >
      <h5>About</h5>
      <p>MovieFans is a cool site about movies</p>
      <p>Site Visits:</p>
    </div>
  </div>
</div>

{% endblock %}
