{% extends 'main/base.html' %} 
{% load static %}

{% block title_block %} 
  Moviefans - About
{% endblock %} 

{% block body_block %}

<div class="container about-main">
  <p class="logo main-logo"><span class="color-darkgray">movie</span><span class="color-blue">fans</span></p>
  <p class="slogan">ratings by the fans, for the fans</p>
  <p class="desc">
    It is a website where users can find movie recommendations based on ratings and comments provided by the other users.
  </p>
  <p class="team">A project by Team SEGW</p>
  <ul>
    <li>Shengjing Wang</li>
    <li>Ekaansh Singh</li>
    <li>Grant Woollon</li>
    <li>Weihang You</li> 
  </ul>


</div>

{% endblock %}
