{% extends 'main/base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block title_block %}
Add New Movie
{% endblock %}

{% block body_block %}
<div class="container">

    <div class="row" style="padding: 100px;">
        <p class="logo movielist-logo"><span class="color-darkgray">Add</span><span class="color-blue">Movie</span></p>

        <form method="POST" enctype="multipart/form-data" style="margin: 0 auto;">
            {% csrf_token %}
            {{ form.as_p }}
            {{ movie_form|crispy }}

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Add </button>
                    </div>
                </div>
                <div class="col-md-8 text-right">
                    <a class="btn btn-primary float-right" href="{% url 'main:index' %}" role="button">Back</a>
                </div>
            </div>
        </form>


    </div>
</div>

{% endblock %}