{% extends 'main/base.html' %} {% load static %} 
{% block title_block %} 
  Genre
{% endblock %} 

{% block body_block %}

<br><h4>{{genre}} Movies</h4><br>

<div class="row">
  {% for movie in genre_movies %}
  <div class="col-md-3 col-sm-6">
    <div class="card">
        <div class="movie-grid">
          <div class="image">
            <a href="#" class="image">
              <img class="card-img-top" src="{{movie.thumbnail.url}}" />
              <div class="grid-info">
                <ul class="rating"></ul>
              </div>
            </a>
          </div>
          <h5 class="movie-rating">Upvotes: {{ movie.rating }}</a></h5>
          <div class="movie">
            <h3 class="title"><a href="#">{{ movie.name }}</a></h3>
            <p class="card-text">{{movie.description}}</p>
          </div>
        </div>
      </div>
  </div>
  {% endfor %}

  <!-- TO-DO: Page navigator -->
</div>
{% endblock %}
