{% extends 'main/base.html' %} {% load static %}
{% block title_block %}
Genre
{% endblock %}

{% block body_block %}
<div class="container">
  <div class="cate">
    <p class="logo movielist-logo"><span class="color-darkgray">{{genre}}</span><span class="color-blue">Movies</span></p>
    <div class="movies">
      {% for movie in genre_movies %}
      <div class="card-custom">
        <a href="{{movie.get_absolute_url}}">
          <div class="pic">
            <img src="{{movie.thumbnail.url}}">
            <div class="rating">{{movie.rating}} ⭐</div>
          </div>
        </a>
        <div class="text">{{movie.name}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}