{% extends 'main/base.html' %}
{% load static %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}

<!-- <div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar nav-custom-class">
      <div class="sidebar-sticky" id="categories-listing">
        <h5>Genres</h5>
        <ul class="nav flex-column">

          {% for genre in genre_list %}
          <li class="nav-item">
            <a class="nav-link" href="{{ genre.get_absolute_url }}">
              <span></span>{{genre.name}}
            </a>
          </li>
          {% endfor %}

        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9  ml-sm-auto col-lg-10 px-4">

      <div class="search-index">
        <div class="search-box">

          <p class="logo main-logo"><span class="color-darkgray">movie</span><span class="color-blue">fans</span></p>
          <form action="{% url 'main:search' %}" method="post" class="form-inline">
            {% csrf_token %}
            <input class="form-control mr-1 col-10" type="search" name="query_name" placeholder="Search Movie"
              aria-label="Search">
            <input class="btn btn-primary col-auto" type="submit" value="Search"></input>
          </form>

        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-6">
              <div class="card-body">
                <h2>Top Rated Movies</h2>
                <p class="card-text">

                <ul class="list-group">
                  {% for movie in movies_top_rated %}
                  <li class="list-group-item"><a href="{{ movie.get_absolute_url }}">{{movie.name}}</a></li>
                  {% endfor %}

                </ul>

                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-6">
              <div class="card-body">
                <h2>Most Viewed Movies</h2>
                <p class="card-text">
                <ul class="list-group">
                  {% for movie in movies_most_viewed %}
                  <li class="list-group-item"><a href="{{ movie.get_absolute_url }}">{{movie.name}}</a></li>
                  {% endfor %}
                </ul>

                </p>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="main">
        <div class="search-index">
          <div class="search-box">
  
            <p class="logo main-logo"><span class="color-darkgray">movie</span><span class="color-blue">fans</span></p>
            <form action="{% url 'main:search' %}" method="post" class="form-inline">
              {% csrf_token %}
              <input class="form-control mr-1 col-10" type="search" name="query_name" placeholder="Search Movie"
                aria-label="Search">
              <input class="btn btn-primary col-auto" type="submit" value="Search"></input>
            </form>
  
          </div>
        </div>

        <div class="cate">
          <p class="logo cate-logo"><span class="color-darkgray">Top</span><span class="color-blue">Genres</span></p>

          <div class="genres">
            {% for genre in genre_list %}
            <p class="genre">
              <a class="nav-link" href="{{ genre.get_absolute_url }}">
                {{genre.name}}
              </a>
            </p>
            {% endfor %}
          </div>
        </div>

        <div class="cate">
          <p class="logo cate-logo"><span class="color-darkgray">Top</span><span class="color-blue">Rated</span></p>

          <div class="movies">
            {% for movie in movies_top_rated %}
            <div class="card-custom">
              <a href="{{movie.get_absolute_url}}"><div class="pic"><img src="{{movie.thumbnail.url}}"></div></a>
              <div class="text">{{movie.name}}</div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="cate">
          <p class="logo cate-logo"><span class="color-darkgray">Most</span><span class="color-blue">Viewed</span></p>

          <div class="movies">
            {% for movie in movies_most_viewed %}
            <div class="card-custom">
              <a href="{{movie.get_absolute_url}}"><div class="pic"><img src="{{movie.thumbnail.url}}"></div></a>
              <div class="text">{{movie.name}}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
     
      {% endblock %}