{% extends 'main/base.html' %} 
{% load static %} 

{% block title_block %} 
Home 
{% endblock %} 

{% block body_block %}



<div class="container-fluid">
<div class="row">
<div class="offset-xl-0 col-xl-2 offset-lg-0 col-lg-2 offset-md-0 col-md-3 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12">

<div class="d-sm-none">debug: bootstrap screen size: xs</div>
<div class="d-none d-sm-block d-md-none d-lg-none d-xl-none">debug: bootstrap screen size: sm</div>
<div class="d-none d-md-block d-lg-none d-xl-none">debug: bootstrap screen size: md</div>
<div class="d-none d-lg-block d-xl-none">debug: bootstrap screen size: lg</div>
<div class="d-none d-xl-block">debug: bootstrap screen size: xl</div>

<div class="card">
  <div class="card-header">
    Categories
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{% url 'main:index' %}">Action</a></li>
    <li class="list-group-item"><a href="{% url 'main:index' %}">Animated</a></li>
    <li class="list-group-item"><a href="{% url 'main:index' %}">Comedy</a></li>
    <li class="list-group-item"><a href="{% url 'main:index' %}">Drama</a></li>
    <li class="list-group-item"><a href="{% url 'main:index' %}">Fantasy</a></li>
    <li class="list-group-item"><a href="{% url 'main:index' %}">Horror</a></li>
    <li class="list-group-item"><a href="{% url 'main:index' %}">Sci-Fi</a></li>
  </ul>
</div>

</div>



<div class="offset-xl-0 col-xl-10 offset-lg-0 col-lg-10 offset-md-0 col-md-8 offset-sm-0 col-sm-12 offset-xs-4 col-xs-4">
<div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 offset-md-3 col-md-12 offset-sm-4 col-sm-12 offset-xs-4 col-xs-4">

<span id="logoleft">movie</span><span id="logoright">fans</span>
<br><br>
    <form action="{% url 'main:search' %}" method="post" class="form-inline">
    {% csrf_token %}
      <input class="form-control mr-sm-4 col-md-8" type="search" placeholder="Search Movie" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>


</div>
</div>
</div>

<div class="row">
<div class="offset-xl-3 col-xl-3 offset-lg-2 col-lg-4 offset-md-3 col-md-4 offset-sm-0 col-sm-12 offset-xs-4 col-xs-4">
Most Upvoted
<div class="card">
  <div class="card-header">
    Categories
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">1</li>
    <li class="list-group-item">2</li>
    <li class="list-group-item">3</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">5</li>
    <li class="list-group-item">6</li>
    <li class="list-group-item">7</li>
  </ul>
</div>
</div>

<div class="offset-xl-2 col-xl-3 offset-lg-2 col-lg-4 offset-md-1 col-md-4 offset-sm-0 col-sm-12 offset-xs-4 col-xs-4">
Most Viewed
<div class="card">
  <div class="card-header">
    Categories
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">1</li>
    <li class="list-group-item">2</li>
    <li class="list-group-item">3</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">5</li>
    <li class="list-group-item">6</li>
    <li class="list-group-item">7</li>
  </ul>
</div>
</div>

</div>




</div>
{% endblock %}