{% extends 'main/base.html' %} 
{% load static %} 
{% block title_block %} 
  Movie
{% endblock %} 

{% block body_block %}
<div class="container-fluid">
  <div class="row">
    <div
      class="
        offset-xl-1
        col-xl-8
        offset-lg-1
        col-lg-8
        offset-md-0
        col-md-6
        offset-sm-0
        col-sm-6
        offset-xs-0
        col-xs-12
      "
    >
      <h2>{{movie.name}}</h2>
    </div>
  </div>

  <div class="row">
    <div
      class="
        offset-xl-1
        col-xl-8
        offset-lg-1
        col-lg-2
        offset-md-0
        col-md-6
        offset-sm-0
        col-sm-6
        offset-xs-0
        col-xs-12
      "
    >
      Year: {{movie.year}}

      <br />
    </div>

    <div class="card float-right" style="width: 18rem">
      <div class="card-header">
        Rating: {{movie.rating}} &nbsp; Views: {{movie.views}} &nbsp;

        <form action="{% url 'main:like_movie' %}" method="POST" class="form">
          <input class="form-control mr-sm-4 col-md-8" type="hidden" name="query_name" value="{{movie.slug}}"/>
          {% csrf_token %}
        <button
          id="upvotebutton"
          type="submit"
          class="btn btn-primary my-2 my-sm-0"
          href="#"
          role="button"
          >
          Like
        </button>
        </form>
      </div>
    </div>
  </div>
  <br /><br /><br />

  <div class="row">
    <div
      class="
        offset-xl-1
        col-xl-3
        offset-lg-1
        col-lg-3
        offset-md-0
        col-md-4
        offset-sm-0
        col-sm-12
        offset-xs-0
        col-xs-12
      "
    >
      <img
        src="{{movie.thumbnail.url}}"
        class="img-fluid"
        alt="Movie Poster"
      />
    </div>

    <div
      class="
        offset-xl-1
        col-xl-2
        offset-lg-1
        col-lg-3
        offset-md-0
        col-md-4
        offset-sm-0
        col-sm-12
        offset-xs-0
        col-xs-12
      "
    >
      <h5>Description</h5>
      <p>
        {{movie.description}}
      </p>
    </div>

    <div
      class="
        offset-xl-1
        col-xl-3
        offset-lg-1
        col-lg-3
        offset-md-0
        col-md-4
        offset-sm-0
        col-sm-12
        offset-xs-0
        col-xs-12
      "
    >
    </div>
  </div>

  <br /><br />
  <div class="row">
    <div
      class="
        offset-xl-1
        col-xl-3
        offset-lg-1
        col-lg-3
        offset-md-0
        col-md-12
        offset-sm-0
        col-sm-12
        offset-xs-0
        col-xs-12
      "
    >
      <h4>Comments</h4>
      <br /><br />
    </div>
  </div>

  <div class="row">
    <div
      class="
        offset-xl-1
        col-xl-10
        offset-lg-1
        col-lg-10
        offset-md-1
        col-md-10
        offset-sm-0
        col-sm-12
        offset-xs-0
        col-xs-12
      "
    >
      <div class="card border-dark mb-3">
        <div class="card-header">Timestamp/ID</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Username</h5>
          <p class="card-text">Some comment about the movie.</p>
        </div>
      </div>

      <div class="card border-dark mb-3">
        <div class="card-header">Timestamp/ID</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Username</h5>
          <p class="card-text">Some comment about the movie.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
