{% extends 'main/base.html' %}
{% load static %} 
{% block title_block %} 
  Movie
{% endblock %} 

{% block body_block %}
<div class="container">
  <div class="cate">
    <p class="logo movielist-logo"><span class="color-darkgray">Movie</span><span class="color-blue">List</span>
      
      <a class="float-right btn btn-outline-primary" href="{% url 'main:add_movie_page' %}">Add Movie</a>
    </p>

    <div class="movies">
      {% for movie in movies %}
      <div class="card-custom">
        <a href="{{movie.get_absolute_url}}"><div class="pic"><img src="{{movie.thumbnail.url}}"></div></a>
        <div class="text">{{movie.name}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
