{% extends 'main/base.html' %}
{% load static %}
{% block title_block %}
Movie - {{movie.name}}
{% endblock %}

{% block body_block %}
<script
			  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
			  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
			  crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: "/add_view/",
      data: {
        movie: window.location.pathname.substr(7)
      },
      success: function(data) {
        console.log(data);
      }
    });
  });
</script>

<div class="container">
  <div class="movie">
    <div class="movie-pic">
      <img src="{{movie.thumbnail.url}}">
    </div>
    <div class="movie-details">
      <p class="name">
        {{movie.name}}
      </p>

      <p class="genre">
        <span class="gen">{{movie.genre_id.name}}</span> - {{movie.year}}
      </p>
      
      <p class="desc">
        {{movie.description}}
      </p>

      <div class="rating-view">
        <form action="{% url 'main:like_movie' %}" method="POST" class="form">
          <input class="form-control mr-sm-4 col-md-8" type="hidden" name="query_name" value="{{movie.slug}}" />
          {% csrf_token %}
          <button id="upvotebutton" type="submit" class="btn btn-outline-dark" role="button">
            {{movie.rating}} ⭐
          </button>
        </form>

        <button id="upvotebutton" type="submit" class="btn btn-outline-success" role="button">Views: {{movie.views}}</button>

      </div>
    </div>
  </div>

  <div class="comments">
    <div class="comment-box">
      <form action="{% url 'main:add_comment' %}" method="POST" class="form">
        {% csrf_token %}
        <input class="form-control mr-sm-4 col-md-8" type="hidden" name="movie_slug" value="{{movie.slug}}" />
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"
          placeholder="Type your comment here ..."></textarea>
        <button id="upvotebutton" type="submit" class="btn btn-outline-success float-right mt-2" role="button">Comment</button>
      </form>
    </div>

    <div class="user-comments">
      {% for comment in comments %}
      <div class="comment-card">
        <p class="username">{{comment.username}}</p>
        <p class="time">{{comment.time}}</p>
        <p class="content">{{comment.content}}</p>
        <form action="{% url 'main:upvote_comment' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="comment_id" value="{{comment.id}}">
          <button id="upvotebutton" type="submit" class="btn btn-outline-dark" role="button">{{comment.upvote}} ❤️</button>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}