<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<div class="container" id="wrap">
    <div class="row">
      <div class="offset-xl-0 col-xl-2 offset-lg-0 col-lg-2 offset-md-0 col-md-4 offset-sm-0 col-sm-12 offset-xs-0 col-xs-12"></div>
          <form>
            <legend>Sign Up</legend>
            <br />
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Firstname">First Name</label>
                <input type="text" class="form-control" id="First name" placeholder="First name:">
              </div>
              <div class="form-group col-md-6">
                <label for="Lastname">Last Name</label>
                <input type="text" class="form-control" id="Lastname" placeholder="Last name:">
              </div>
            </div>
            <div class="form-group">
              <label for="EmailAddress">Email Address</label>
              <input type="email" class="form-control" id="email" placeholder="Email:">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Password" placeholder="Password:">
            </div>
            <div class="form-group">
              <label for="Confirm Password">Comfirm Password</label>
              <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password:">
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
            <a class="btn btn-primary float-right" href="{% url 'main:index' %}" role="button">Back</a>
          </form>        
    </div>
</div>            