body {
  background-color: rgb(255, 255, 255);
  position: relative;
  min-height: 100vh;
}

.logo {
  font-family: 'Indie Flower';
  font-size: 1.5em;
  font-weight: bold;
}

.color-darkgray {
  color: #454546;
}

.color-blue {
  color: #4187cc;
}

.main-logo {
  font-size: 5em !important;
  text-shadow: 1px 1px ;
}

.search-index {
  padding: 10vh 0;
}

.search-box {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.nav-custom-class {
  margin-top: 20px;
  border-radius: 10px;
  padding-top: 20px;
}

