/* base.html */
body {
  background-color: rgb(255, 255, 255);
  position: relative;
  min-height: 100vh;
}

.logo {
  font-family: 'Indie Flower';
  font-size: 1.5em;
  font-weight: bold;
}

/* common colors */

.color-white {
  color: white !important;
}

.color-darkgray {
  color: #454546;
}

.color-blue {
  color: #4187cc;
}

/* index.html */

.main-logo {
  font-size: 5em !important;
  text-shadow: 1px 1px ;
}

.search-index {
  padding: 10vh 0;
  background-image: url("/static/images/searchbg.jpg");
  background-position: top;
  background-size: 100%;
}

.search-box {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.nav-custom-class {
  margin-top: 20px;
  border-radius: 10px;
  padding-top: 20px;
}

/* movie list */

.cate {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0px;
}

.movies .pic img {
  height: 280px;
  width: 190px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px #5a5a5a48;
}

.movies .text {
  font-size: 1.2em;
  text-align: center;
  font-weight: 550;
  max-width: 190px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.cate-logo {
  font-size: 1.8em !important;
}

/* search.html */

.card-custom {
  display: inline-block;
  margin: 10px 10px;
  max-width: 190px;
}

.genres .genre {
  display: inline-block;
  font-family: 'Indie Flower';
  font-weight: bold;
  font-size: 1.3em;
  color: #454546;
}

.genre a {
  color: inherit;
}

.genre:nth-child(2n) {
  color: #4187cc;
}

/* base.html */

footer {
  text-align: center;
  background-color: #f8f9fa ;
}

footer p {
  padding: 20px 0px 10px 0px;
  margin: 0;
}

/* movie boxes design - site wide */

.movielist-logo {
  font-size: 4em;
}

.pic {
  position: relative;
}

.rating {
  position: absolute;
  bottom: 0;
  width: 190px;
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 0px 0px 5px 5px;
  padding: 2px;
  color: white;
  font-size: 0.9em;
}

/* movie details html page */

.movie {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 340px auto;
  column-gap: 20px;
}

.movie-pic {
  display: inline-block;
  margin: 10px 10px;
}

.movie-details {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px;
}

.movie-pic img {
  height: 500px;
  width: 337px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.123);
}

.movie-details .name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0px;
}

.movie-details .genre {
  color: #454546;
}

.genre .gen {
  font-family: 'Indie Flower';
  font-weight: bold;
  font-size: 1.4em;
  color: #4187cc;
  text-transform: lowercase;
}

.movie-details .desc {
  text-align: justify;
  padding: 20px;
  border-top: 1px solid #454546;
}

.rating-view button {
  float: left;
  margin: 0px 5px;
  padding: 5px 20px;
}

.user-comments {
  padding: 20px 0px;
}

.comment-card {
  position: relative;
  padding: 60px 30px 30px 30px;
  border-top: 1px solid #45454667;
}

.comment-card .username {
  color: #4187cc;
  font-size: 1em;
  font-weight: lighter;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
}

.comment-card .time {
  color: #4187cc;
  font-size: 0.9em;
  font-weight: lighter;
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
}

.comment-card form {
  text-align: right;
}

.comment-card button {
  padding: 3px 15px;
}

.comment-box {
  padding: 20px 0px 60px 0px;
}

.commment-box button {
  margin: 10px;
}

/* about.html */

.about-main {
  text-align: center;
  padding: 100px;
}

.about-main .main-logo {
  margin: 0;
}

.slogan {
  font-family: 'Indie Flower';
  font-weight: lighter;
  font-size: 1.5em;
  margin: 0;
  margin-top: -20px;
}

.team {
  padding: 40px 0px 10px 0px;
  font-size: 1.5em;
  font-family: 'Indie Flower';
}

.desc1 {
  padding: 20px 20px 0px 20px;
  width: 350px;
  margin: 0 auto;
  font-weight: lighter;
  text-transform: capitalize;
}

.about-main ul {
  margin: 0;
  padding: 0;
}

.about-main li {
  font-size: 1.4em;
  font-family: 'Indie Flower';
  list-style-type: none;
}